body {
  background: grey
}

.box {
  background: white;
  width: 150px;
  height: 150px;
  position: relative;
  animation-name: IntoCircle;
  animation-duration: 10s;
}

@keyframes IntoCircle {
  0% { background-color: white; left: 0px; top: 0px; border-radius: 0 0 0 0; width: 150px; height: 150px; }
  20% { background-color: rgb(226, 230, 29); left: 500px; top: 0px; border-radius: 50% 0 0 0; width: 150px; height: 150px; }
  40% { background-color: rgb(54, 214, 21); left: 500px; top: 500px; border-radius: 50% 50% 0 0; width: 150px; height: 150px;}
  60% { background-color: rgb(22, 156, 218); left: 0px; top: 500px; border-radius: 50% 50% 50% 0; width: 150px; height: 150px; }
  80% { background-color: white; left: 0px; top: 500px; border-radius: 50% 50% 50% 50%; width: 150px; height: 150px; }
  90% { background-color: white; left: 0px; top: 0px; border-radius: 50% 50% 50% 50%; width: 150px; height: 150px; }
  100% { background-color: white; left: 250px; top: 250px; border-radius: 50% 50% 50% 50%; width: 500px; height: 500px; }

}